<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="ISO-8859-15">
    <title>Vanilla Pull</title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="StockCtrl">
<header>
    <div class="container">
        <h1>Vanilla Pull</h1>
    </div>
</header>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9 well">
            <h2>CAC40</h2>
            <table class="table table-condensed">
                <thead>
                <tr>
                    <td>Symbol</td>
                    <td>Label</td>
                    <td>Spot</td>
                    <td>Volatility</td>
                    <td>Variation</td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="stock in stocks">
                    <td>{{stock.symbol}}</td>
                    <td>{{stock.label}}</td>
                    <td>{{stock.spot}}</td>
                    <td>{{stock.volatility}}</td>
                    <td>{{stock.variation}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span3 well">
            <div>
                <h2>Buy</h2>
                <input type="text" ng-model="symbol" ng-change="change()" placeholder="Symbol">
                <input type="text" ng-model="strike" ng-change="change()" placeholder="Strike">
                <input type="text" ng-model="maturity" ng-change="change()" placeholder="Maturity">
            </div>
            <div>
                <h2>Proposed price</h2>
                <p style="text-align: center;font-weight: bolder;font-size: 36px;margin-top: 10px">{{price}}</p>
            </div>
        </div>

    </div>
</div>

</body>
</html>
